{% extends 'base.html' %}

{% block content %}
    <!-- New Arrival Area -->
    {% include 'components/arrival.html' %}
    <!-- New Arrival Area End -->

    <!-- Choose Area -->
    {% include 'components/choose.html' %}
    <!-- Choose Area End -->

    <!-- Trending Area -->
    {% include 'components/trending.html' %}
    <!-- Trending Area End -->

    <!-- Brand Area -->
    {% include 'components/brand.html' %}
    <!-- Brand Area End -->

    <!-- Testimonials Area -->
    {% include 'components/testimonials.html' %}
    <!-- Testimonials Area End -->

    <!-- Offer Area End -->
    {% include 'components/offer.html' %}
    <!-- Offer Area End -->

    <!-- Blog Area -->
    {% include 'components/blog.html' %}
    <!-- Blog Area End -->

    <!-- Newsletter Area Section -->
    {% include 'components/newsletter.html' %}
    <!-- Newsletter Area Section End -->
{% endblock %}