{% load static %}


<div class="banner-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="banner-item-content">
                    <span>WELCOME TO OUR SHOP</span>
                    <h1>Order the Organic Foods Now!</h1>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscins elitr, seddiams nonumy eirmod.</p>
                    <a href="#" class="default-btn btn-bg-one">Order Now</a>
                    <img src="{% static 'images/home-one/home-one-img1.png' %}" alt="Banner Images">
                </div>
            </div>

            <div class="col-lg-4">
                <div class="row">
                    <div class="col-lg-12 col-md-6">
                        <div class="banner-item-side">
                            <h3>Sign Up on Shop</h3>
                            <span>Get a 30% Offer!</span>
                            <a href="#" class="newslette-btn">Newsletter</a>
                            <img src="{% static 'images/home-one/home-one-img2.png' %}" alt="Banner Images">
                        </div>
                    </div>

                    <div class="col-lg-12 col-md-6">
                        <div class="banner-item-side-2">
                            <h3>Big Sale Offer</h3>
                            <span>Up to 70% Discount</span>
                            <a href="shop-grid.html" class="shop-btn">Shop Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>