{% load static %}


<section class="blog-area pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Our Latest Blogs</h2>
            <p class="margin-auto">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer eget arcu luctus orci vulputate
                eleifend ut et odio. Proin purus mi, convallis sit amet pretium a, rhoncus aliquam purus.
            </p>
        </div>

        <div class="row pt-45">
            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="{% static 'images/blog/blog-img1.jpg' %}" alt="Images">
                    </a>
                    <div class="content">
                        <span><i class='bx bx-time-five'></i> Nov 01, 2020</span>
                        <h3><a href="blog-details.html">We Always Ready to Give You Best Delivery Support </a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur exit sadipscing elitr, sed diam.
                        </p>
                        <a href="#" class="read-btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="{% static 'images/blog/blog-img2.jpg' %}" alt="Images">
                    </a>
                    <div class="content">
                        <span><i class='bx bx-time-five'></i> Nov 05, 2020</span>
                        <h3><a href="blog-details.html">Click and Make the Payment in the Most Easiest Way</a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur exit sadipscing elitr, sed diam.
                        </p>
                        <a href="#" class="read-btn">Read More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 offset-lg-0 offset-md-3">
                <div class="blog-card">
                    <a href="blog-details.html">
                        <img src="{% static 'images/blog/blog-img3.jpg' %}" alt="Images">
                    </a>
                    <div class="content">
                        <span><i class='bx bx-time-five'></i> Nov 07, 2020</span>
                        <h3><a href="blog-details.html">Global Ecommerce System Marked as a History </a></h3>
                        <p>
                            Lorem ipsum dolor sit amet, consetetur exit sadipscing elitr, sed diam.
                        </p>
                        <a href="#" class="read-btn">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>