{% load static %}


<div class="brand-area pb-100">
    <div class="container">
        <div class="brand-slider owl-carousel owl-theme">
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img1.png' %}" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img2.png' %}" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img3.png' %}" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img4.png' %}" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img5.png' %}" alt="Images">
            </div>
            <div class="brand-item">
                <img src="{% static 'images/brand-logo/brand-img2.png' %}" alt="Images">
            </div>
        </div>
    </div>
</div>