{% load static %}

<div class="choose-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center">
            <h2>Why You Choose Us</h2>
        </div>
        <div class="row pt-45">
            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <i class="flaticon-24-hours"></i>
                    <h3>24/7 Online Support</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="choose-card">
                    <i class="flaticon-leaf"></i>
                    <h3>100% Pure Foods</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-lg-0 offset-sm-3">
                <div class="choose-card">
                    <i class="flaticon-service"></i>
                    <h3>Home Delivery</h3>
                    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod.</p>
                </div>
            </div>
        </div>
    </div>
</div>