{% load static %}

<div class="testimonials-area ptb-100">
    <div class="container">
        <div class="testimonials-slider owl-carousel owl-theme">
            <div class="testimonials-item">
                <img src="{% static 'images/testimonials/testimonials-img1.jpg' %}" alt="Images">
                <p>
                    "We are one of the best and huge problem on the product taking from online. Most of the time we
                    get the eCommerce and ordered product on this and on that time we saw that it gives the best
                    service for all the time."
                </p>
                <i class='bx bxs-quote-alt-left'></i>
                <h3>- Elen Musk, CEO, MT Corporation</h3>
            </div>

            <div class="testimonials-item">
                <img src="{% static 'images/testimonials/testimonials-img2.jpg' %}" alt="Images">
                <p>
                    "We are one of the best and huge problem on the product taking from online. Most of the time we
                    get the eCommerce and ordered product on this and on that time we saw that it gives the best
                    service for all the time."
                </p>
                <i class='bx bxs-quote-alt-left'></i>
                <h3>- Tom Shumate, Founder, MT Corporation</h3>
            </div>
        </div>
    </div>
</div>