{% extends 'base.html' %}


{% block content %}
	<div class="user-area pt-100 pb-70">
            <div class="container">
                <div class="user-width">
                    <div class="user-form">
                        <div class="contact-form">
                            <h2>Login Now</h2>
                            {% for error in form.non_field_errors %}
                                <p class="error">{{ error }}</p>
                            {% endfor %}
                            <form method="post">
                            {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="form-group">
                                            {{ form.username }}
                                            {% for error in form.username.errors %}
                                                <p class="error">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-group">
                                            {{ form.password }}
                                            {% for error in form.password.errors %}
                                                <p class="error">{{ error }}</p>
                                            {% endfor %}
                                        </div>
                                    </div>

                                    <div class="col-lg-12 ">
                                        <button type="submit" class="default-btn btn-bg-three">
                                            Login
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}
